.arrow {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.logout {
    margin: 10% 0% 0% 100%;
}

.hiddenInput {
    border: none;
    pointer-events: none;
    /* disabled */
}

.tableHead {
    position: inherit;
}

.showInput {
    pointer-events: fill !important;
}